@model IEnumerable<IdentityWithRedis.Models.ApplicationUser>
@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

<input type="hidden" value="@ViewBag.loggedInUserName" id="NotificationSender" />
<ul>
    @foreach (var items in Model)
    {
        <li>
            <a style="cursor:pointer;" data-id="@items.Id" onclick="clickOnDetail(this)">@items.UserName</a> <span><input type="button" data-content="@items.UserName" value="Send Notification" onclick="SendNotification(this)" /></span>
        </li>
    }
</ul>

@section scripts {
    <script type="text/javascript">
        //Receive Notification
        $(document).ready(function () {
            notiRef.client.receiveNotification = function (notificationSenderUserName,notificationReceiverUserName) {
                // alert(notificationReceiverUserName);
                var NotificationSender = $('#NotificationSender').val();
                debugger;
                if (notificationReceiverUserName === NotificationSender) { //here NotificationSender is CurrentLoggedIn user
                    alert("You've received notification from " + notificationSenderUserName);
                }
            };
        });


        function clickOnDetail(current) {
            var offerId = $(current).data('id');
            window.location.href = "/Home/Chat?id=" + offerId;
        }

        function SendNotification(current) {
            var notificationReceiverUserName =  $(current).data('content');
            var notificationSenderUserName = $('#NotificationSender').val();
            conn.done(function () {
               notiRef.server.sendNotification(notificationSenderUserName,notificationReceiverUserName);
             });
        }
       
    </script>

}